$color_1: #21346D;
$color_2: #5A648F;
$color_3:#f2f2f2;
$color_4: #C5DF9D;
$color_5: #7DBD00;
$white: white;

.container {
  height: 100%;
  background: $color_3;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .title {
    padding: 5px 10px;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .innerContainer {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background: $color_3;
    overflow-y: auto;
    height: 100%;

    .filters {
      width: 20%;
      background: $white;
      padding: 5px;
      margin-bottom: 10px;
      height: fit-content;

      .title {
        font-weight: bold;
        font-size: 1rem;
      }

      .filterContainer {

        text-align: center;

        .filterContainerTitle {
          font-size: 0.8rem;
          padding: 0 20px;
          display: inline-block;
        }

        .filterContainerValuesContainer {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;

          .filterContainerValuesWrapper {
            flex: 0 50%;
            display: flex;
            justify-content: center;
            padding: 5px;
            cursor: pointer;

            .value {
              height: 2rem;
              background: $color_4;
              border-radius: 10px;
              width: 70%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
            }

            .selected {
              background: $color_5;
              font-weight: bold;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      padding: 0 15px;
      position: relative;
      // height: 100%;

      .child {
        flex: 0 25%;
        padding: 0 10px 10px;

        .innerChild {
          background: $white;
          padding: 10px;
          border-radius: 5px;
          height: 100%;

          .imageContainer {
            img {
              background-size: cover;
              width: 100%;
              height: 15rem;
              background: $color_3;
            }
          }

          >div {
            padding: 5px 0;
          }

          .missionName {
            color: $color_1;
            font-weight: 600;
            padding: 10px 0;
          }

          .innertitles {
            font-weight: bold;
            padding-right: 10px;
          }

          .innervalues {
            color: $color_2;
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    padding: 2px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .container {
    .filters {
      width: 33% !important;
    }

    .content {
      width: 66% !important;

      .child {
        flex: 0 50% !important;
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    .filters {
      width: 100% !important;
    }

    .content {
      width: 100% !important;
      padding: 0 !important;

      .child {
        flex: 0 100% !important;
        padding: 10px 0 !important;

        .innerChild {
          margin: 0 0 10px 0 !important;
        }
      }
    }
  }
}